<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Masonry Style Layout</title>
</head>
<body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/">Articles</a>
        <h1>
            <div>Express</div>
            <div>Yourself</div>
        </h1>
        <a href="/">Guides</a>
        <a href="/">Contact</a>
      </nav>
    </header>
      <main>
    <div class="short">
      <h3>A note about style</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, reprehenderit.</p>
      <a href="">Read more</a>
    </div>
    <div class="tall">
      <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=720&q=80" alt="model">
    </div>
    <div class="short">
      <h3>A note about style</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, reprehenderit.</p>
      <a href="">Read more</a>
    </div>
    <div class="tall">
      <img src="https://images.unsplash.com/photo-1487222477894-8943e31ef7b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=795&q=80" alt="model">
    </div>
    <div class="tall">
      <img src="https://images.unsplash.com/photo-1588117260148-b47818741c74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="model">
    </div>
    <div class="tall">
      <h3>A note about style</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, reprehenderit.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas perspiciatis natus sit dicta repellendus quia mollitia. Voluptas ullam ipsa dolorem.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse accusamus possimus asperiores fugiat at nostrum odio repellendus voluptates. Iusto asperiores voluptate similique maiores ut omnis dolores corporis, tenetur excepturi quis?</p>
      <a href="">Read more</a>
    </div>
    <div class="short">
      <h3>A note about style</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, reprehenderit.</p>
      <a href="">Read more</a>
    </div>
    <div class="tall">
      <img src="https://images.unsplash.com/photo-1615093826418-b7d67b17b505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="model">
    </div>
    <div class="short">
      <h3>A note about style</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, reprehenderit.</p>
      <a href="./">Read more</a>
    </div>
  </main>
</body>
</html>